absl-py==1.4.0
alembic==1.11.3
bidict==0.22.1
certifi==2023.7.22
charset-normalizer==3.2.0
chex==0.1.82
click==8.1.3
cmaes==0.10.0
colorama==0.4.6
colorlog==6.7.0
contourpy==1.1.0
cycler==0.11.0
etils==1.4.1
Flask==2.2.3
Flask-SocketIO==5.2.0
Flask-SQLAlchemy==3.0.3
flax==0.7.2
fonttools==4.42.1
greenlet==2.0.2
idna==3.4
importlib-resources==6.0.1
itsdangerous==2.1.2
jax==0.4.14
jaxlib==0.4.14
Jinja2==3.1.2
kiwisolver==1.4.5
Mako==1.2.4
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.2
mdurl==0.1.2
ml-dtypes==0.2.0
msgpack==1.0.5
mysql==0.0.3
mysqlclient==2.1.1
nest-asyncio==1.5.7
numpy==1.25.2
opt-einsum==3.3.0
optax==0.1.7
optuna==3.3.0
orbax-checkpoint==0.3.5
packaging==23.1
pandas==2.0.3
pickles==0.1.1
Pillow==10.0.0
protobuf==4.24.2
Pygments==2.16.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-engineio==4.4.1
python-socketio==5.8.0
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
rich==13.5.2
scipy==1.11.2
seaborn==0.12.2
six==1.16.0
sklearn==0.0.post7
SQLAlchemy==2.0.12
tensorstore==0.1.41
toolz==0.12.0
tqdm==4.66.1
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.4
Werkzeug==2.2.3
xgboost==1.7.6
zipp==3.16.2
